<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">

        <input type="hidden" id="categoryId">

        <div class="row mb-3" sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <div class="col-6 mx-auto">
                <div class="row" >
                    <div class="col-12">
                        <label>Категория:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" id="categoryName">
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <button class="btn btn-success" onclick="addCategory()">Добавить категорию</button>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            function addCategory() {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/category", true);
                httpRequest.setRequestHeader("Content-Type", "application/json");

                let categoryName = document.getElementById("categoryName");

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        categoryName.value = "";
                        loadCategory();
                    }
                };

                let body = {
                    'category': categoryName.value
                };


                body = JSON.stringify(body);
                console.log(body);
                httpRequest.send(body);

            }
        </script>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Категории</th>
                            <th style="width: 10%;">Детали</th>
                        </tr>
                    </thead>
                    <tbody id="categoryListBody">

                    </tbody>

                </table>

                <div class="modal fade" id="detailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" sec:authorize="!hasAnyRole('ROLE_ADMIN')">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Детали категории</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-12">
                                        <label>Категория:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="text" class="form-control"  readonly id="categoryNameDetails">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                <button type="button" class="btn btn-primary">OK</button>
                            </div>
                        </div>

                        <div class="modal-content" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Детали категории</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-12">
                                        <label>Категория:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <select id="productNameDetails"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" onclick="deleteproduct()">DELETE</button>
                                <button type="button" class="btn btn-primary" onclick="updateproduct()">SAVE</button>
                            </div>
                            <script type="text/javascript">
                                function updateCategory() {
                                    const httpRequest = new XMLHttpRequest();
                                    httpRequest.open("PUT", "/category", true);
                                    httpRequest.setRequestHeader("Content-Type", "application/json");

                                    let categoryId = document.getElementById("categoryId");
                                    let categoryName = document.getElementById("categoryNameDetails");

                                    httpRequest.onreadystatechange = function () {
                                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                                            loadCategory();
                                        }
                                    };

                                    let body = {
                                        'id':categoryId.value,
                                        'category': categoryName.value,
                                    };


                                    body = JSON.stringify(body);
                                    httpRequest.send(body);

                                }
                                function deleteProduct() {
                                  let approve = confirm("Вы уверены?");

                                  if(approve) {


                                      let productId = document.getElementById("categoryId");

                                      const httpRequest = new XMLHttpRequest();
                                      httpRequest.open("DELETE", "/category/"+categoryId.value, true);
                                      httpRequest.setRequestHeader("Content-Type", "application/json");



                                      httpRequest.onreadystatechange = function () {
                                          if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                                              detailsModal.hide();
                                              loadCategory();
                                          }
                                      };

                                      httpRequest.send();
                                  }




                                }
                            </script>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            loadCategory();
            function loadCategory() {
                const httpRequest = new XMLHttpRequest();

                httpRequest.open("GET", "/category", true);
                httpRequest.onreadystatechange = function() {
                    if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let categoryList = JSON.parse(httpRequest.responseText);

                        let tableContent = "";

                        for (let i = 0; i < productList.length; i++) {
                            console.log(productList[i].price);
                           tableContent+="<tr>";
                           tableContent+="<td>"+categoryList[i].id+"</td>";
                           tableContent+="<td>"+categoryList[i].category+"</td>";
                           tableContent+="<td><button class='btn btn-primary btn-sm' onclick='openCategoryDetailModel("+categoryList[i].id+")'>DETAILS</button>";
                           tableContent+="</tr>";
                        }
                        document.getElementById("categoryListBody").innerHTML=tableContent;

                    }
                }
                httpRequest.send();
            }

            function openCategoryDetailModel(id) {

                detailsModal = new bootstrap.Modal(document.getElementById('detailModal'));

                const httpRequest = new XMLHttpRequest();

                httpRequest.open("GET", "/category/"+id, true);
                httpRequest.onreadystatechange = function() {
                    if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let result =JSON.parse(httpRequest.responseText);
                        categoryId.value = result.id;
                        categoryNameDetails.value = result.category;

                        detailsModal.show();
                    }
                }
                httpRequest.send();


            }

        </script>

    </div>
</html>